<!--login/templates/model/login.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务管理系统</title>
    {#    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>#}
    <script>
        function fristPage() {
            self.location.href = "";
        }

        function showRegister() {
            {#隐藏#}
            document.getElementById("login").style.display = "none";
            document.getElementById("register").style.display = "none";
            {#显示#}
            document.getElementById("registerDiv").style.display = "block";
        }

        function getCompany() {
            var type = document.getElementById("type").value;
            {#alert(type+":"+(type == "企业"))#}

            if (type == "企业") {
                {#显示#}
                {#alert(1)#}
                document.getElementById("companyName").style.display = "block";
            } else {
                {#隐藏#}
                {#alert(2)#}
                document.getElementById("companyName").style.display = "none";
            }
        }
    </script>
</head>
<body>
<button onclick="fristPage()">首页</button>
<div id="login">
    <form action="/sys/login/" method="post">{% csrf_token %}
        <input id="account" type="text" name="account" placeholder="账号/电话" maxlength="13"><br/>
        <input id="password" type="text" name="password" placeholder="密码" maxlength="10" minlength="3"><br/>
        <datalist id="typelist">
            {% for typeid in types_list %}
                <option>{{ typeid.typeName }}</option>
            {% endfor %}
        </datalist>
        <input id="type" onchange="getCompany()" type="text" name="type" list="typelist" placeholder="选择账户类型"><br/>
            <input type="submit" value="登录">
    </form>

</div>
<button id="register" onclick="showRegister()">注册</button>

<div id="registerDiv" style="display:none">
    <form action="/sys/register/" method="post">{% csrf_token %}

        <input id="account" type="text" name="account" placeholder="电话" maxlength="13"><br/>
        <input id="password" type="text" name="password" placeholder="密码" maxlength="10" minlength="3"><br/>
        <datalist id="typelist">
            {% for typeid in types_list %}
                <option>{{ typeid.typeName }}</option>
            {% endfor %}
        </datalist>
        <input id="type" onchange="getCompany()" type="text" name="type" list="typelist" placeholder="选择账户类型"><br/>
        <input id="code" type="number" maxlength="4" placeholder="输入验证码">
        <input id="getCode" type="button" value="获取验证码"><br/>
        <input id="companyName" type="text" style="display:none" name="companyName" placeholder="输入公司名称"><br/>
        <input type="submit" value="注册">
    </form>
    <br/>
</div>


</body>
</html>